<div id="rfb-home-intro" class="row">
    
    <div class="col-md-4">
        <p class="events-header">Running for Brews 5k Events</p>
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-8">
        <h1 class="display-4">We Love 5k Running & Craft Brews</h1>
        <p class="lead">This is your homepage</p>
        <p>Spicy jalapeno bacon ipsum dolor amet tri-tip anim minim qui, burgdoggen veniam sausage tail meatball elit ut nisi short loin chuck excepteur. Chuck magna enim, corned beef velit consectetur dolore fatback meatball aliquip sint quis id leberkas. Corned beef shankle fugiat, lorem drumstick tail venison pork loin turkey eiusmod kielbasa nulla est veniam andouille. Occaecat beef cupidatat rump fatback turducken tenderloin chuck. Boudin ham hock irure laborum, short loin ribeye shank. Consectetur eiusmod bresaola, ea sirloin t-bone swine.</p>
        <p>Meatloaf swine in jerky turducken. Consectetur porchetta bresaola beef ribs biltong ham hock duis ut beef. Dolore meatloaf leberkas tail, sausage pork chop andouille turducken anim. Tri-tip pork loin mollit, aliquip proident qui anim. Est enim commodo chuck in.</p>
        <p>Strip steak dolore doner, picanha occaecat fatback prosciutto minim sausage mollit. Ut veniam aliqua, pig in tenderloin shoulder. Voluptate corned beef brisket, ribeye enim fatback aute doner jerky cupim ham hock beef. Labore pastrami ground round dolore porchetta jerky consectetur shank. Ribeye cupidatat elit landjaeger filet mignon buffalo. Corned beef ball tip kevin ut ham hock, duis non voluptate frankfurter chuck tri-tip ullamco occaecat turducken short loin.</p>
<!-- 
        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                   > You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>If you want to </span>
                <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register">Register a new account</a>
            </div>
        </div> -->

    </div>
</div>
